<form id="js_developersForm" class="developersForm">
    <label for="js_developersSelect">Mehrfachauswahl möglich:</label>
    <select id="js_developersSelect" class="developersSelect" name="developers" size="{{developers.length}}" multiple>
        {{#each developers}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    <button type="submit">appoint</button>
</form>
<span id="js_newGoToGuy"></span>
